<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Passwords</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
		
		html {
			font-family: 'Roboto', sans-serif;
			color: #3f3f3f;
			width: 80%;
		}

		.past {
			color: darkgray;
		}

		ul {
			list-style-type: none
		}

		.passwords {
			color: #efefef;
		}

		li, tr {
			margin: 10px 0 4px 0;
			height: 26px;
		}

		.today, .tomorrow {
			color: #ff0000
		}
		span {
			margin-right: 10px;
			overflow: hidden;
		}
		
		tr:hover {
			background-color: #eee;
			color: #000;
		}

		button {
			cursor: pointer;
		}

		.bold {
			font-weight: bold;
			/* width: 200px; */
		}

		.copied {
			position: absolute;
		}

		/* Style the buttons that are used to open and close the accordion panel */
		.accordion {
		  font: inherit;
		  background-color: #eee;
		  color: #444;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: none;
		  outline: none;
		  transition: 0.4s;
		}

		/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .accordion:hover {
		  background-color: #ccc;
		}

		/* Style the accordion panel. Note: hidden by default */
		.panel {
		  padding: 0 18px;
		  background-color: white;
		  max-height: 0;
		  overflow: hidden;
		  transition: max-height 0.2s ease-out;
		}

		.accordion:after {
		  content: '\02795'; /* Unicode character for "plus" sign (+) */
		  font-size: 13px;
		  color: #777;
		  float: right;
		  margin-left: 5px;
		}

		.active:after {
		  content: "\2796"; /* Unicode character for "minus" sign (-) */
		}

		h4 {
			position: relative;
			left: -30px;
		}

		input {
			font-size: 20px;
		}

		.password-invalid {
			color: #ffebe6;
		}

        .env-table {
            font-weight: bolder;
        }

        .env-table td {
            padding: 5px 10px 5px 10px;
        }

        th {
            background-color: #e6e6e6;
        }

        .DEV {
            color: #ad1100;
        }

        .DEMO {
            color: #e3a300;
        }

        .TEST {
            color: #c9c300;
        }

        .PROD {
            color: #289e00;
        }

	</style>
</head>

<body>

	<div id="app">
        <button class="accordion">VERSIONS</button>
		<div class="panel">
            <table class="env-table">
                <thead>
                    <th>Environment</th>
                    <th>Version</th>
                    <th>Created</th>
                    <th><button onclick="refreshVersions()">Refresh  {{versionActuality}}</button></th>
                </thead>
                <tr v-for="env in envs">
                    <td v-bind:class="env.name">{{env.name}}</td>
                    <td>{{env.version}}</td>
                    <td>{{env.created}}</td>
                    <td><a v-bind:href="env.url" target="_blank">>>>></a></td>
                </tr>
            </table>
        </div>

		<button class="accordion">VPN</button>
		<div class="panel">
			<table class="passwords">
				<tr v-for="rec in vpns">
					<td class="bold" v-bind:class="rec.class" v-bind:id="rec.username+'Name'">{{rec.username}}</td>
					<td>
						<button v-bind:id="rec.username+'NameButton'">Copy</button>
					</td>
					<td v-bind:id="rec.username">{{rec.password}}</td>
					<td>
						<button v-bind:id="rec.username+'Button'">Copy</button>
						<span v-bind:id="rec.username+'Copied'" class="copied"></span>
					</td>
					<td>{{rec.expires}}</td>
				</tr>
			</table>
		</div>

	</div>

	<div>
		<button class="accordion">Production</button>
		<div class="panel">

			<h3>Program</h3>
			<ul>

				<li>
					<a id="gotoProdProg" href="https://prog.clientssite.com" target="_blank">https://prog.clientssite.com</a>
					<span> (admin's password)</span>
				</li>
				<li>
					<a href="https://prog.clientssite.com" target="_blank">https://prog.clientssite.com</a>
				</li>
				<li>
					<span class="bold">admin</span>
					<span id="prodProg">password</span>
					<button id="prodProgButton" 
						onclick="copyToClipboardMsg(document.getElementById('prodProg'), 'prodProgCopied')">
						Copy
					</button>
					<span id="prodProgCopied" class="copied"></span>
				</li>
				<li>
					<span class="bold">SomeUser0001</span>
					<span id="prodProguser1">HisPassword</span>
					<button id="prodProgButtonuser1" 
						onclick="copyToClipboardMsg(document.getElementById('prodProguser1'), 'prodProgCopieduser1')">
						Copy
					</button>
					<span id="prodProgCopieduser1" class="copied"></span>
				</li>
				<li>
					<span class="bold">SomeUser0002</span>
					<span id="prodProgEmployee">HerPassword</span>
					<button id="prodProgButtonEmployee" 
						onclick="copyToClipboardMsg(document.getElementById('prodProgEmployee'), 'prodProgCopiedEmployee')">
						Copy
					</button>
					<span id="prodProgCopiedEmployee" class="copied"></span>
				</li>
			</ul>

			<hr>

			<h3>IO</h3>
			<ul>
				<li><a id = "gotoProdio" href="https://io.clientssite.com" target="_blank">https://io.clientssite.com</a>
					<span>(admin's password)</span>
				</li>
				<li>
					<span class="bold">admin</span>
					<span id="prodio">password</span>
					<button id="prodioButton"
						onclick="copyToClipboardMsg(document.getElementById('prodio'), 'prodioCopied')">
						Copy
					</button>
					<span id="prodioCopied" class="copied"></span>
				</li>
			</ul>

			<hr>

			<h3>Game of the year</h3>
			<ul>
				<li><a href="https://clientssite.com/game/authorization" target="_blank">https://clientssite.com/game/authorization</a></li>
				<li>
					<span class="bold">login</span>
					<span id="prodGaming">password</span>
					<button id="prodGamingButton"
						onclick="copyToClipboardMsg(document.getElementById('prodGaming'), 'prodGamingCopied')">
						Copy
					</button>
					<span id="prodGamingCopied" class="copied"></span>
				</li>
			</ul>

			<hr>

			<h3>Аналитика и отчетность</h3>
			<ul>
				<span>Отчет по качеству</span>
				<li>
					<a href="http://clientssite.com:8084/#/" target="_blank">http://clientssite.com:8084/#/</a>
				</li>

				<span>Отчет по количеству</span>
				<li>
					<a href="https://clientssite.com:9443/#/report" target="_blank">
						https://clientssite.com:9443/#/report
					</a>
				</li>
			</ul>

			<hr>
			<h3>Конструктор отчетов</h3>
			<ul>
				<li><a href="https://clientssite.com:9444/#/" target="_blank">https://clientssite.com:9444/#/</a></li>
			</ul>

		</div>


		<button class="accordion">Test</button>
		<div class="panel">

			<h3>PROGRAM</h3>
			<ul>

				<li>
					<a id="gotoTestProgram" href="https://clientssite.com:8444/" target="_blank">https://clientssite.com:8444/</a>
					<span>(admin's password)</span>
				</li>
				<li>
					<span class="bold">admin</span>
					<span id="testProgram">youwontguess</span>
					<button id="testProgramButton" 
						onclick="copyToClipboardMsg(document.getElementById('testProgram'), 'testProgramCopied')">
						Copy
					</button>
					<span id="testProgramCopied" class="copied"></span>
				</li>
			</ul>

			<hr>

			<h3>IO</h3>
			<ul>
				<li>
					<a id="gotoTestio" href="https://clientssite.com:9444/" target="_blank">https://clientssite.com:9444/</a>
					<span>(admin's password)</span>
				</li>
				<li>
					<span class="bold">admin</span>
					<span id="testio">thebestpassword</span>
					<button id="testioButton"
						onclick="copyToClipboardMsg(document.getElementById('testio'), 'testioCopied')">
						Copy
					</button>
					<span id="testioCopied" class="copied"></span>
				</li>
			</ul>

			<hr>

			<h3>Analytics</h3>
			<ul>
				<li><a href="http://mycompany.com:9090/#/analytics/" target="_blank">http://mycompany.com:9090/#/analytics/</a></li>
			</ul>
			
		</div>



		<button class="accordion">Demo</button>
		<div class="panel">
			<h3>Site</h3>
			<ul>
				<li><a href="https://mycompany.com/demo/" target="_blank">https://mycompany.com/demo/</a></li>
				<li>
					<span class="bold">login</span>
					<span id="demoSite">qwerty</span>
					<button id="demoSiteButton"
						onclick="copyToClipboardMsg(document.getElementById('demoSite'), 'demoSiteCopied')">
						Copy
					</button>
					<span id="demoSiteCopied" class="copied"></span>
				</li>
			</ul>
		</div>
		

		<button class="accordion">JENKINS</button>
		<div class="panel">
			<ul>
                <h4>Обновить тест</h4>
				<li><a href="https://clientssite.com/view/TEST-deploy/job/TEST-Deploy_ansible/" target="_blank">https://clientssite.com/view/TEST-deploy/job/TEST-Deploy_ansible/</a></li>
				<li>
					<span class="bold">login</span>
					<span id="jenkinsMe">password</span>
					<button id="jenkinsMeButton"
						onclick="copyToClipboardMsg(document.getElementById('jenkinsMe'), 'jenkinsMeCopied')">
						Copy
					</button>
					<span id="jenkinsMeCopied" class="copied"></span>
				</li>
                <hr>
                
				<h4>Обновить прод</h4>
				<li><a href="https://clientssite.com/job/Deploy_ansible/build?delay=0sec" target="_blank">https://clientssite.com/job/Deploy_ansible/build?delay=0sec/build?delay=0sec</a></li>
				<li>
					<span class="bold">login</span>
					<span id="jenkinsMe2">realsecret</span>
					<button id="jenkinsMeButton2"
						onclick="copyToClipboardMsg(document.getElementById('jenkinsMe2'), 'jenkinsMeCopied2')">
						Copy
					</button>
					<span id="jenkinsMeCopied2" class="copied"></span>
				</li>
				<hr>
				<li>
					<span class="bold">yetanotherlogin</span>
					<span id="jenkinsSupport">yetanotherpassword</span>
					<button id="jenkinsSupportButton" 
						onclick="copyToClipboardMsg(document.getElementById('jenkinsSupport'), 'jenkinsSupportCopied')">
						Copy
					</button>
					<span id="jenkinsSupportCopied" class="copied"></span>
				</li>

				<hr>
				<h4>Обновить демо</h4>
				<li><a href="http://builder.unknownsite.com/view/Deploy_jobs_for_support/job/SUPPORT_stages_deploy/" target="_blank">http://builder.unknownsite.com/view/Deploy_jobs_for_support/job/SUPPORT_stages_deploy/</a></li>
				<li>
					<span class="bold">login</span>
					<span id="jenkinsDemoMe">secretcode</span>
					<button id="jenkinsDemoMeButton"
						onclick="copyToClipboardMsg(document.getElementById('jenkinsDemoMe'), 'jenkinsDemoMeCopied')">
						Copy
					</button>
					<span id="jenkinsDemoMeCopied" class="copied"></span>
				</li>

				<hr>
				<h4>Собрать дистрибутив</h4>
				<li><a href="http://builder.unknownsite.com/view/Service/job/SUPPORT_win_prepare/build?delay=0sec" target="_blank">http://builder.unknownsite.com/view/Service/job/SUPPORT_win_prepare/build?delay=0sec</a></li>
				<li>
					<span class="bold">login</span>
					<span id="jenkinsioMe">password</span>
					<button id="jenkinsioMeButton"
						onclick="copyToClipboardMsg(document.getElementById('jenkinsioMe'), 'jenkinsioMeCopied')">
						Copy
					</button>
					<span id="jenkinsioMeCopied" class="copied"></span>
				</li>


			</ul>
		</div>


		<button class="accordion">FTP, net, repo, integration server</button>
		<div class="panel">
			<ul>
				<li><a href="ftp://mycompany.com" target="_blank">ftp://mycompany.com</a></li>
				<li><a href="http://mycompany.com:445" target="_blank">http://mycompany.com:445</a></li>
				<li>
					<span class="bold" id="ftpLogin">defenitelyadmin</span>
					<button id="ftpLoginButton"
						onclick="copyToClipboardMsg(document.getElementById('ftpLogin'), 'ftpCopied')">
						Copy
					</button>

					<span id="ftpPassword">isitcorrect?</span>
					<button id="ftpPasswordButton"
						onclick="copyToClipboardMsg(document.getElementById('ftpPassword'), 'ftpCopied')">
						Copy
					</button>
					<span id="ftpCopied" class="copied"></span>
                </li>
                <hr>
                <h3>Repo</h3>
                <li><a href="http://repo.sitenotfound.com/artifactory/libs-release-candidates-local/ru/front/" target="_blank">http://repo.sitenotfound.com/artifactory/libs-release-candidates-local/ru/front/</a></li>
                <li>
                    <span class="bold" id="repoLogin">probablyadmin</span>
					<button id="repoLoginButton"
						onclick="copyToClipboardMsg(document.getElementById('repoLogin'), 'repoCopied')">
						Copy
					</button>

					<span id="repoPassword">idontknowthepassword</span>
					<button id="repoPasswordButton"
						onclick="copyToClipboardMsg(document.getElementById('repoPassword'), 'repoCopied')">
						Copy
					</button>
					<span id="repoCopied" class="copied"></span>
				</li>
				
				<hr>
				<h3>Integration server for 1C</h3>
                <li><a href="http://8.8.8.8/export/" target="_blank">http://8.8.8.8/export/</a></li>
                <li>
                    <span class="bold" id="intLogin">somelogin</span>
					<button id="intLoginButton"
						onclick="copyToClipboardMsg(document.getElementById('intLogin'), 'intCopied')">
						Copy
					</button>

					<span id="intPassword">somepassword</span>
					<button id="intPasswordButton"
						onclick="copyToClipboardMsg(document.getElementById('intPassword'), 'intCopied')">
						Copy
					</button>
					<span id="intCopied" class="copied"></span>

                </li>
                <li>
                    <span class="bold" id="intDBLogin">postgres</span>
					<button id="intDBLoginButton"
						onclick="copyToClipboardMsg(document.getElementById('intDBLogin'), 'intDBCopied')">
						Copy
					</button>

					<span id="intDBPassword">somepassword</span>
					<button id="intDBPasswordButton"
						onclick="copyToClipboardMsg(document.getElementById('intDBPassword'), 'intDBCopied')">
						Copy
					</button>
					<span id="intDBCopied" class="copied"></span>
                </li>
                <hr>
                <h3>Команды CENTOS</h3>
				lscpu <br>
				df -h <br>
				cat /proc/meminfo <br>
				cat /proc/cpuinfo <br>
				uptime <br>
				who <br>
				whoami <br>
				top <br>
				ps a <br>
			</ul>
		</div>


		<button class="accordion">URL by index</button>
		<div class="panel">
			<h3>Index</h3>
			<input type="text" id="inputIndex" oninput="getIdByIndex()">
			<a id="linkToUnit" href="" target="_blank"></a>
		</div>

	</div>




	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script type="text/javascript">


// Paste the password to the clipboard before referencing to the next page
		document.querySelector('#gotoProdProg').addEventListener('click', function (event) {
  			// Do something before following the link 
  			copyToClipboardMsg(document.getElementById('prodProg'), 'prodProgCopied');

  			// Get url from the target element (<a>) href attribute
  			var url = event.target.href;

  			// Open the url in the current window. Set to "_blank" instead of "_self" to open in a new window.
  			window.open(url, '_blank');

  			// Prevent default action (e.g. following the link)
  			event.preventDefault();
		});

		document.querySelector('#gotoProdio').addEventListener('click', function (event) {
  			copyToClipboardMsg(document.getElementById('prodio'), 'prodClockCopied');
  			var url = event.target.href;
  			window.open(url, '_blank');
  			event.preventDefault();
		});

		document.querySelector('#gotoTestProgram').addEventListener('click', function (event) {
  			copyToClipboardMsg(document.getElementById('testProgram'), 'testProgramCopied');
  			var url = event.target.href;
  			window.open(url, '_blank');
  			event.preventDefault();
		});

		document.querySelector('#gotoTestio').addEventListener('click', function (event) {
  			copyToClipboardMsg(document.getElementById('testio'), 'testioCopied');
  			var url = event.target.href;
  			window.open(url, '_blank');
  			event.preventDefault();
		});

		function copyToClipboardMsg(elem, msgElem) {
			var succeed = copyToClipboard(elem);
		    var msg;
		    if (!succeed) {
		        msg = "Copy not supported or blocked.  Press Ctrl+c to copy."
		    } else {
		        // msg = "Text copied to the clipboard."
		        msg = "&#9989"
		    }
		    if (typeof msgElem === "string") {
		        msgElem = document.getElementById(msgElem);
		    }
		    msgElem.innerHTML = msg;
		    setTimeout(function() {
		        msgElem.innerHTML = "";
		    }, 2000);
		}



		function copyToClipboard(elem) {
			  // create hidden text element, if it doesn't already exist
		    var targetId = "_hiddenCopyText_";
		    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
		    var origSelectionStart, origSelectionEnd;
		    if (isInput) {
		        // can just use the original source element for the selection and copy
		        target = elem;
		        origSelectionStart = elem.selectionStart;
		        origSelectionEnd = elem.selectionEnd;
		    } else {
		        // must use a temporary form element for the selection and copy
		        target = document.getElementById(targetId);
		        if (!target) {
		            var target = document.createElement("textarea");
		            target.style.position = "fixed";
		            target.style.left = "-9999px";
		            target.style.top = "0";
		            target.id = targetId;
		            document.body.appendChild(target);
		        }
		        target.textContent = elem.textContent;
		    }
		    // select the content
		    var currentFocus = document.activeElement;
		    target.focus();
		    target.setSelectionRange(0, target.value.length);
		    
		    // copy the selection
		    var succeed;
		    try {
		    	  succeed = document.execCommand("copy");
		    } catch(e) {
		        succeed = false;
		    }
		    // restore original focus
		    if (currentFocus && typeof currentFocus.focus === "function") {
		        currentFocus.focus();
		    }
		    
		    if (isInput) {
		        // restore prior selection
		        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
		    } else {
		        // clear temporary content
		        target.textContent = "";
		    }
		    return succeed;
		}



	const credentials = [
		{ username: 'login1', password: 'password1', class:'', expires: '01.01.2022'},
		{ username: 'login2', password: 'password2', class:'', expires: '01.01.2023'},
		{ username: 'login3', password: 'password3', class:'password-invalid', expires: '01.01.2024'},
		{ username: 'login4', password: 'password4', class:'', expires: '01.01.2025'},
		{ username: 'login5', password: 'password5', class:'', expires: '01.01.2026'},
		{ username: 'login6', password: 'password6', class:'', expires: '01.01.2027'},
		{ username: 'login7', password: 'password7', class:'', expires: '01.01.2028'},
		{ username: 'login8', password: 'password8', class:'', expires: '01.01.2029'},
		{ username: 'login9', password: 'password9', class:'', expires: '01.01.2030'},
		{ username: 'login10', password: 'password10', class:'password-invalid', expires: '01.01.2031'},
		{ username: 'login11', password: 'password11', class:'', expires: '01.01.2032'},
		{ username: 'login12', password: 'password12', class:'', expires: '01.01.2033'},
		{ username: 'login13', password: 'password13', class:'', expires: '01.01.2034'},
    ];	
  
    
	var app = new Vue({
		el: '#app',
		data: {
			vpns: credentials,
			unit_link: 'some_link',
            unit: '',
            envs: getVersions(),
            versionActuality: getDateTime()
		},
		methods: {
			getOpsId: function(unit) {
				console.log(unit);
				console.log(index_ids[unit]);				
            },
            
		}
	})


	function getVersions() {
        var result = [];
        var servers = [ 'DEV', 'DEMO', 'TEST', 'PROD'];

        for (var i = 0; i < servers.length; i++){
            var server = servers[i];
			var res = getVersionProgram(server);

			// console.log(res);
			
            res['name'] = server;
            result.push(res);
        }

        return result;
	}

    function refreshVersions() {
        app.envs = getVersions();
        app.versionActuality = getDateTime();
    }
    
    function getDateTime() {
        var today = new Date();
        var date = today.getDate() + '.' + (today.getMonth()+1) + '.' + today.getFullYear();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date + ' ' + time;

        return '(' + dateTime + ')';
    }

	// add listeners to all VPN copying buttons
	for (var i = 0; i < credentials.length; i++) {
		const login = credentials[i];

		const elButton = login.username + 'Button';
		const elCopied = login.username + 'Copied';

		const elButtonName = login.username + 'NameButton';


		const button = document.getElementById(elButton);
		const button2 = document.getElementById(elButtonName);

		const elToCopy = document.getElementById(login.username);
		const elToCopyName = document.getElementById(login.username + 'Name');

		button.addEventListener("click", function(){
			copyToClipboardMsg(elToCopy, elCopied)
		});

		button2.addEventListener('click', function(){
			copyToClipboardMsg(elToCopyName, elCopied);
		})

	}



	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
	    this.classList.toggle("active");
	    var panel = this.nextElementSibling;
	    if (panel.style.maxHeight) {
	      panel.style.maxHeight = null;
	    } else {
	      panel.style.maxHeight = panel.scrollHeight + "px";
	    }
	  });
	}

	
	function getIdByIndex(){
		var index = document.getElementById('inputIndex').value;
		var id = index_ids[index];
		var link = document.getElementById('linkToUnit');
		var linkHref = '';

		if (id) {
			linkHref = 'https://somecompany.com/id/' + id;
		} 

		link.setAttribute('href', linkHref);
		link.innerHTML = linkHref;

	}


	function getVersionProgram(server) {

		var urls = {
			'TEST': '',
			'PROD': '',
			'DEMO': '',
			'DEV': ''
		}
        
		if (!server) {
			url = urls['PROD']
		} else {
			url = urls[server]
		}


        var headerAccept;

        headerAccept = 'application/json'
        creds = 'login:password'
		
		var result;
        var jsonResult = {};
		var xmlHttp = new XMLHttpRequest();

        try {
            xmlHttp.open( "GET", url, false); // false for synchronous request
            xmlHttp.setRequestHeader('Accept', headerAccept);
            // xmlHttp.setRequestHeader('Access-Control-Allow-Origin', '*');
            // xmlHttp.setRequestHeader("Authorization", "Basic " + btoa(creds))

            // It must cancel the request if there is no request for two seconds
            var timeoutId = setTimeout(function () {
                console.log("Status: " + xmlHttp.status);

                if ( xmlHttp.status != 200 ) {
                    xmlHttp.abort();
                    console.log("URL: " + url + " is aborted");
                }
            }, 2000);

            xmlHttp.send( null );

            result = xmlHttp.responseText;
            jsonResult = JSON.parse(result);





            jsonResult['url'] = url;
            
            if ( xmlHttp.status == 200 ) {
                // console.log("Clears timeout");
                clearTimeout(timeoutId);
            }

            // console.log(jsonResult);
        } 
        catch (err) {
            console.log(err);

        // STUB  =============================================

        	var n1 = Math.floor(Math.random() * 10 + 1);
        	var n2 = Math.floor(Math.random() * 100);
        	var n3 = Math.random() >= 0.5 ? "masterb" : "release_" + n1 + "." + n2 + "b";
        	var n4 = Math.floor(Math.random() * 1000);

        	var d1 = Math.floor(Math.random() * 28 + 1) 
        		+ "." + Math.floor(Math.random() * 12 + 1) 
        		+ "." + Math.floor(Math.random() * 2 + 2021) 
        		+ " " + Math.floor(Math.random() * 24) 
        		+ ":" + Math.floor(Math.random() * 60) 
        		+ ":" + Math.floor(Math.random() * 60);

        	var d2 = Math.floor(Math.random() * 28 + 1) 
        		+ "." + Math.floor(Math.random() * 12 + 1) 
        		+ "." + Math.floor(Math.random() * 2 + 2021) 
        		+ " " + Math.floor(Math.random() * 24) 
        		+ ":" + Math.floor(Math.random() * 60) 
        		+ ":" + Math.floor(Math.random() * 60);

            jsonResult = {
            	"version": n1 + "." + n2 + "." + n3 + n4, 
            	"created": d1, 
            	"server_time": d2
            }

            //========================================================================

        }

        // jsonResult['random'] = Math.random(); // for the purpose of testing
        return jsonResult;
	}



    function mock() {
        var url = "http://mycompany.com/artifactory/libs-release-candidates-local/ru/front/";
        var creds = "login:password";
        var headerAccept = '*/*';

        var xmlHttp = new XMLHttpRequest();

        xmlHttp.open( "GET", url, false );

        xmlHttp.setRequestHeader('Accept', headerAccept);
        xmlHttp.setRequestHeader('Access-Control-Allow-Origin', 'null');

        xmlHttp.setRequestHeader("Authorization", "Basic " + btoa(creds));
        xmlHttp.send( null );

        return xmlHttp.responseText;
    }

	
	const index_ids = {
		"115280": 225760,
		"115088": 186110
	}


</script>

</body>
</html>




